
* {
  margin: 0;
  padding: 0;
font-family: 'Roboto', sans-serif;

}

select{
  width: 100px;
  float: right;
}
.filtro{
  width: 50%;
  margin-bottom: 15px;
}
h2{
  margin-bottom:20px;
  font-size: 35px;
}

.seccion-logo {
  width: 25%;
  height: 100vh;
  float: left;
  color: #fff;
  background: #101063;
  text-align: center;
}

.seccion-personajes{
  width: 75%;
  float: left;
  height: 100vh;
  background: rgb(221, 221, 221);
}

.logo {
  width: 100%;
}
.ordenar{
   color: #fff;
   display: block;
text-decoration: none;
margin-bottom: 20px
}

.personaje{
background: #fff;
width: 20%;
text-align: center;
}

.personaje img {
  border-radius: 50%;
}
.fotos{
  width: 100px;
}
/*
@media only screen and (min-width: 768px) and(max-width:940px){
  .seccion-logo {
    width: 25%;
  }
  .seccion-personajes{
    width: 75%;
  }  
}

@media only screen and (min-width: 768px) and(max-width:940px){
  .seccion-logo {
    width: 25%;
  }
  .seccion-personajes{
    width: 75%;
  }  
}
@media only screen and (min-width: 400px) and(max-width:767px){
  .seccion-logo {
    width: 25%;
  }
  .seccion-personajes{
    width: 75%;
  }  
}
/*