@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800');
* {
margin: 0;
padding: 0;
}
body{
    background: red;
}

.center{
    text-align: center;
}
@media(max-width: 560px){
    body{
        background: yellow;
    }
}